skipass-purchase/src/main/resources/skipass.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://www.bp.org/skipass/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        name="skipass"
        targetNamespace="http://www.bp.org/skipass/"
        xmlns:bp="http://www.bp.org">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.bp.org/">
            <xsd:import schemaLocation="skipass.xsd" namespace="http://www.bp.org"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="buySkiPassRequestMsg">
        <wsdl:part element="bp:buySkiPassRequest" name="payload"/>
    </wsdl:message>
    <wsdl:message name="buySkiPassResponseMsg">
        <wsdl:part element="bp:buySkiPassResponse" name="payload"/>
    </wsdl:message>
    <wsdl:message name="cancelPurchaseRequestMsg">
        <wsdl:part element="bp:cancelPurchaseRequest" name="payload"/>
    </wsdl:message>
    <wsdl:message name="cancelPurchaseResponseMsg">
        <wsdl:part element="bp:cancelPurchaseResponse" name="payload"/>
    </wsdl:message>
    <wsdl:message name="skiPassFaultMsg">
        <wsdl:part element="bp:skiPassFault" name="payload"/>
    </wsdl:message>
    <wsdl:portType name="SkiPassPurchase">
        <wsdl:operation name="buySkiPass">
            <wsdl:input message="tns:buySkiPassRequestMsg"/>
            <wsdl:output message="tns:buySkiPassResponseMsg"/>
            <wsdl:fault message="tns:skiPassFaultMsg" name="skiPassFault"/>
        </wsdl:operation>
        <wsdl:operation name="cancelPurchase">
            <wsdl:input message="tns:cancelPurchaseRequestMsg"/>
            <wsdl:output message="tns:cancelPurchaseResponseMsg"/>
            <wsdl:fault message="tns:skiPassFaultMsg" name="skiPassFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SkiPassPurchaseSOAP" type="tns:SkiPassPurchase">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="buySkiPass">
            <soap:operation soapAction="http://www.bp.org/skipass/buySkiPass"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="skiPassFault">
                <soap:fault name="skiPassFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelPurchase">
            <soap:operation soapAction="http://www.bp.org/skipass/cancelPurchase"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="skiPassFault">
                <soap:fault name="skiPassFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SkiPassPurchaseService">
        <wsdl:port binding="tns:SkiPassPurchaseSOAP" name="SkiPassPurchasePort">
            <soap:address location="http://www.bp.org/skipass/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>